#!/bin/zsh

# modern file listing with eza
alias ll='eza -l --git'
alias la='eza -la --git'
alias ldot='eza -ld .*'
alias ls='eza'
alias tree='eza --tree'

# better cat with bat
alias cat='bat'

# modern navigation
alias cd='z'  # use zoxide instead of cd

# enhanced grep and find
alias grep='rg'
alias find='fd'

# git shortcuts
alias g='git'
alias lg='lazygit'

# misc
alias please=sudo
alias zshrc='nano "${ZDOTDIR:-$HOME}"/.zshrc'
alias zbench='for i in {1..10}; do /usr/bin/time zsh -lic exit; done'
alias zdot='cd ${ZDOTDIR:-~}'